ansible>=5.1.0
#ansible>=2.10.0,<3.0.0
jmespath
git-lfs
ansible-lint
#molecule==3.5.1
git+https://github.com/ansible-community/molecule@main#egg=molecule
molecule-docker
docker
ansible-lint>=3.4.0
testinfra>=1.7.0
jmespath
selinux
passlib
